@page {
  margin: 0;
}
@media print {
  html, body {
    font-family: monospace;
  }
  .bloque {
    page-break-after: always;
    font-family: monospace;
    padding: 1rem 2rem;
    border: 1px solid #000;
  }
}
.bloque {
  font-family: monospace;
  padding: 1rem 2rem;
  border: 1px solid #000;
  margin-bottom: 1rem;;
}