@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --accent-main-color: #660066;
  --accent-secondary-color: #800080;
  --light-main-color: #ebebeb;
  --dark-main-color: #333;
  
  --borders-color: #999;
  --error-color: #b30000;
  --ok-light: #99ff99;
  --ok-dark: #008000;
  --error-light: #ff9999;
  --table-guide: #ccc;
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
}

/*  Login styles */
.login-body {
  background-color: var(--light-main-color);
  color: var(--dark-main-color);
}
.login-header {
  text-align: center;
  margin-top: 3rem;
}
.login-logo {
  width: 20vh;
}
.login-input {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--borders-color);
  margin: 1rem auto;
  width: min(50%, 500px);
  filter: none;
}
.login-line {
  text-align: center;
}
.login-submit {
  border: 1px solid var(--accent-main-color);
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bold;
  margin-top: 2rem;
}
.error-msg {
  margin: 2rem 0;
  text-align: center;
  border: 1px solid var(--error-color);
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  background-color: var(--error-color);
  font-weight: bold;
}

/* Default page styles */

h2 {
  margin: 2rem 0;
}
.default-logo, .burger-icon {
  width: 3rem;
  padding: 0;
  margin: 0;
}
.default-line {
  display: flex;
  align-items: center;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0;
  margin: 0.3rem 0 0 0;
}
.default-header {
  padding: 0;
  margin: 0;
}
.header-devider {
  border-bottom: 1px solid var(--borders-color);
}
.default-body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #333;
}
.main-container {
  background-color: var(--light-main-color);
  padding: 0 1rem 2rem 1rem;
  min-height: 95vh;
  border-radius: 0.5rem;
}
.app-default-title {
  margin-left: 0.5rem;
}
.popmenu {
  background-color: var(--accent-main-color);
  color: var(--light-main-color);
  display: none;
  border-radius: 0.5rem;
}
.main-menu {
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0.5rem 0;
  text-align: right;
}
.main-menu li {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.main-menu li:hover {
  background-color: var(--accent-secondary-color);
}
.main-menu a {
  color: var(--light-main-color);
  text-decoration: none;
}
.insession {
  font-weight: bold;
  text-align: right;
  padding: 1rem 1rem 0.5rem 0;
}

/* Form style */
.input-text {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--borders-color);
}
.formcontainer {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
}
.formerror {
  color: var(--error-color);
  background-color: var(--error-light);
  border: 1px solid var(--error-color);
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.formsugg {
  background-color: var(--ok-light);
  color: var(--ok-dark);
  border: 1px solid var(--ok-dark);
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.sccss-msg {
  margin: 2rem 0;
  text-align: center;
  border: 1px solid var(--ok-dark);
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  background-color: var(--ok-dark);
  font-weight: bold;
}
.submitbutton {
  text-align: center;
}
.buttons {
  text-decoration: none;
  border: 1px solid var(--accent-main-color);
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--borders-color);
  margin: 2rem auto;
  width: min(50%, 500px);
  cursor: pointer;
}
.buttons-inline {
  border: 1px solid var(--accent-main-color);
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 0;
  width: min(50%, 500px);
  cursor: pointer;
}
.tablagen{
  display: table;
  margin: 1rem 0 2rem 0;
  border-collapse: collapse;
  width: 100%;
}
.fila{
  display: table-row;
}
.col{
  display: table-cell;
  padding: 0.5rem;
  background: var(--light-main-color);
  border-top: 1px solid var(--borders-color);
  border-bottom: 1px solid var(--borders-color);
}
.fila:hover .col{
  background-color: var(--table-guide);
}
.goright {
  text-align: right;
}
.gocenter {
  text-align: center;
}
.next {
  margin: 20rem 0.5rem;
  max-width: 20rem;
}
.accion {
  text-decoration: none;
  background-color: var(--accent-main-color);
  color: var(--light-main-color);
  padding: 0.3rem 0.5rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
}
.simple-line {
  margin-top: 1rem;
}