@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --accent-main-color: #660066;
  --accent-secondary-color: #800080;
  --light-main-color: #ebebeb;
  --dark-main-color: #333;
  --dark-secondary-color: #666;
  
  --borders-color: #999;
  --error-color: #b30000;
  --ok-light: #99ff99;
  --ok-dark: #008000;
  --error-light: #ff9999;
  --table-guide: #ccc;
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
}
html {
  font-size: 86%;
}
/*  Login styles */
.login-body {
  background-color: var(--light-main-color);
  color: var(--dark-main-color);
}
.login-header {
  text-align: center;
  margin-top: 3rem;
}
.login-logo {
  width: 20vh;
}
.login-input {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--borders-color);
  margin: 1rem auto;
  width: min(50%, 500px);
  filter: none;
}
.login-line {
  text-align: center;
}
.login-submit {
  border: 1px solid var(--accent-main-color);
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bold;
  margin-top: 2rem;
}
.error-msg {
  margin: 2rem 0;
  text-align: center;
  border: 1px solid var(--error-color);
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  background-color: var(--error-color);
  font-weight: bold;
}

/* Default page styles */

h2 {
  margin: 2rem 0;
}
.default-logo, .burger-icon {
  width: 3rem;
  padding: 0;
  margin: 0;
}
.default-line {
  display: flex;
  align-items: center;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0;
  margin: 0.3rem 0 0 0;
}
.default-header {
  padding: 0;
  margin: 0;
}
.header-devider {
  border-bottom: 1px solid var(--borders-color);
}
.default-body {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #333;
}
.main-container {
  background-color: var(--light-main-color);
  padding: 0 1rem 2rem 1rem;
  min-height: 95vh;
  border-radius: 0.5rem;
}
.app-default-title {
  margin-left: 0.5rem;
}
.popmenu {
  background-color: var(--accent-main-color);
  color: var(--light-main-color);
  display: none;
  border-radius: 0.5rem;
}
.main-menu {
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0.5rem 0;
  text-align: right;
}
.main-menu li {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.main-menu li:hover {
  background-color: var(--accent-secondary-color);
}
.main-menu a {
  color: var(--light-main-color);
  text-decoration: none;
}
.insession {
  font-weight: bold;
  text-align: right;
  padding: 1rem 1rem 0.5rem 0;
}
.mostrandores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
.error-text {
  background-color: var(--error-color);
  color: var(--light-main-color);
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
/* Form style */
.input-text, textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--borders-color);
}
select {
  appearance: none;
  text-transform: uppercase;
}
.chkb {
  background-color: var(--light-main-color);
}
input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(../img/check_radio_sheet3.png) left top no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + label span {
  background:url(../img/check_radio_sheet3.png) -19px top no-repeat;
}
form {
  margin-bottom: 1rem;
}
.formcontainer {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
}
.formerror {
  color: var(--error-color);
  background-color: var(--error-light);
  border: 1px solid var(--error-color);
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.formsugg {
  background-color: var(--ok-light);
  color: var(--ok-dark);
  border: 1px solid var(--ok-dark);
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.sccss-msg {
  margin: 2rem 0;
  text-align: center;
  border: 1px solid var(--ok-dark);
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  background-color: var(--ok-dark);
  font-weight: bold;
}
.form-line {
  margin: 1rem 0;
}
.submitbutton {
  text-align: center;
}
.buttons {
  text-decoration: none;
  /*border: 1px solid var(--accent-main-color);*/
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bolder;
  padding: 0.6rem;
  border-radius: 0.5rem;
  /*border: 1px solid var(--light-main-color);*/
  margin: 2rem auto;
  width: min(50%, 500px);
  cursor: pointer;
}
.buttons-warning {
  text-decoration: none;
  /*border: 1px solid var(--accent-main-color);*/
  color: var(--light-main-color);
  background-color: var(--error-color);
  font-weight: bolder;
  padding: 0.6rem;
  border-radius: 0.5rem;
  /*border: 1px solid var(--light-main-color);*/
  margin: 1rem auto;
  width: 10rem;
  cursor: pointer;
  display: block;
}
.buttons-standalone {
  text-decoration: none;
  /*border: 1px solid var(--accent-main-color);*/
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bolder;
  padding: 0.6rem;
  border-radius: 0.5rem;
  /*border: 1px solid var(--light-main-color);*/
  margin: 2rem auto;
  width: 20rem;
  cursor: pointer;
  display: block;
  box-shadow: none;
  border: none;
  text-align: center;
  
}
.buttons-inline {
  border: 1px solid var(--accent-main-color);
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 0;
  width: min(50%, 500px);
  cursor: pointer;
}
.tablagen{
  display: table;
  margin: 1rem 0 2rem 0;
  border-collapse: collapse;
  width: 100%;
}
.fila{
  display: table-row;
}
.col{
  display: table-cell;
  padding: 0.5rem;
  background: var(--light-main-color);
  border-top: 1px solid var(--borders-color);
  border-bottom: 1px solid var(--borders-color);
  vertical-align: middle;
}
.fila:hover .col{
  background-color: var(--table-guide);
}
.goright {
  text-align: right;
}
.goleft {
  text-align: left;
}
.gocenter {
  text-align: center;
}
.next {
  margin: 20rem 0.5rem;
  max-width: 20rem;
}
.left-margin {
  margin-left: 1rem;
}
.accion {
  text-decoration: none;
  background-color: var(--accent-main-color);
  color: var(--light-main-color);
  padding: 0.3rem 0.5rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
}
.simple-line {
  margin-top: 1rem;
}
.detached-line {
  margin-top: 3rem;
}
.pnlcx-btn {
  max-width: 7rem;
  margin-left: 1rem;
}
.slink {
  color: var(--ok-dark);
  text-decoration: underline;
}
.error-inline {
  text-decoration: none;
  color: var(--error-color);
  background-color: var(--error-light);
  font-weight: bolder;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin: 2rem auto;
}

/* Tablas */
.results {
  border-radius: 1rem;
  margin-top: 2rem;
  min-width:100%;
  border-collapse: collapse;
  border: 1px solid var(--dark-main-color);
  font-size: 1rem;
}
.results th, .results td {
  border: 1px solid var(--borders-color);
  padding: 0.5rem;
}
.results th {
  border: 1px solid var(--dark-main-color);
  color: var(--light-main-color);
  background-color: var(--dark-main-color);
}
.results tr:hover {
  background-color: var(--table-guide);
}
.rowguide:hover {
  background-color: var(--table-guide);
}
.cx_column_mid {
  width: 9rem;
}
.cx_column_small {
  width: 7rem;
}
.acciones {
  display: flex;
  justify-content: space-around;
}
.cell-cantidad {
  text-align:center;
  width: 3rem;
}
.cell-cash {
  text-align: right;
  width: 8rem;
}
.subh {
  background-color: var(--dark-secondary-color);
  color: var(--light-main-color);
  font-weight: bolder;
}
.cx {
  margin-bottom: 2rem;
}
.total {
  margin-left: 1rem;
}
.warning {
  border: 1px solid var(--error-color);
  color: var(--error-color);
  border-radius: 0.5rem;
  padding-top: 1rem;
}
.trok {
  background-color: var(--ok-light);
  color: var(--ok-dark);
  border: 1px solid var(--ok-dark);
  font-weight: bold;
}
.supertotal {
  padding: 1rem;
  display: flex;
  border: 1px solid var(--ok-dark);
  background-color: var(--ok-light);
  color: var(--ok-dark);
  font-weight: bolder;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
}
.supertotabla {
  width: 100%;
  border: 1px solid var(--ok-dark);
  background-color: var(--ok-light);
  color: var(--ok-dark);
  font-weight: bolder;
  border-radius: 1rem;
}
.supertotabla td {
  padding: 1rem;
}
.total-preparar {
  font-size: 2rem;
  text-align: right;
}
.data-remito {
  border: 1px solid var(--ok-dark);
  background-color: var(--ok-light);
  color: var(--ok-dark);
  font-weight: bolder;
  padding: 0.5rem 0.5rem;
  border-collapse: collapse;
}
.data-remito td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--ok-dark);
}
.separador {
  border-left: 1px solid var(--ok-dark);
}
.remito-footer {
  display: flex;
  justify-content: space-between;
}
.fsb {
  display: flex;
  justify-content: space-between;
}
.inst-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  /*max-width: 50%;*/
}
.inst-pics img {
  max-height: 5rem;
  margin: 0 2vw;
}
.inst-pics img.sig {
  height: 5vw;
}
.proc-step {
  text-align: center;
}
.normal-caps {
  text-transform: none;
}
ul.manop li {
  text-transform: none;
}
.home-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtitulo {
  margin: 0 0 2rem 0;
  background-color: var(--dark-main-color);
  color: var(--light-main-color);
  padding: 0.5rem;
}
h4 {
  background-color: var(--dark-secondary-color);
  color: var(--light-main-color);
  padding: 0.5rem;
}

/* Links */
.green-link {
  text-decoration: none;
  background-color: var(--ok-dark);
  color: var(--ok-light);
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0 1rem;
}
.purple-link {
  text-decoration: none;
  background-color: var(--accent-main-color);
  color: var(--light-main-color);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0;
}
.pagadoreal {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--ok-dark);
  background-color: var(--ok-light);
  color: var(--ok-dark);
  font-weight: bolder;
  padding: 1rem;
  border-radius: 1rem;
}
.monto-resumen {
  font-weight: bolder;
  /*
  background-color: var(--ok-dark);
  color: var(--ok-light);
  padding:5px;
  border-radius: 5px;
  */
}
.note {
  text-align: center;
  border: 1px solid var(--ok-dark);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: var(--ok-light);
  color: var(--ok-dark);
  font-weight: bolder;;
}

/* Tabla aprobar pagos */
.apr-pagos {
  width: 100%;
  margin: 2rem 0;
  border-collapse: collapse;
  
}
.headr {
  background-color: var(--dark-main-color);
  color: var(--light-main-color);
  font-weight: bolder;
}
.footr {
  background-color: var(--dark-secondary-color);
  color: var(--light-main-color);
  font-weight: bolder;
}
.apr-pagos td {
  border: 1px solid var(--dark-main-color);
  padding: 0.5rem;
}
.flex-cont {
  display: flex;
  justify-content: space-between;
}