@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --accent-main-color: #660066;
  --light-main-color: #ebebeb;
  --dark-main-color: #333;
  --borders-color: #666;
  --error-color: #b30000;
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
}

/*  Login styles */
.login-body {
  background-color: var(--light-main-color);
  color: var(--dark-main-color);
}
.login-header {
  text-align: center;
}
.login-logo {
  width: 20vh;
}
.login-input {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--borders-color);
  margin: 1rem auto;
  width: min(50%, 500px);
}
.login-line {
  text-align: center;
}
.login-submit {
  border: 1px solid var(--accent-main-color);
  color: var(--light-main-color);
  background-color: var(--accent-main-color);
  font-weight: bold;
  margin-top: 2rem;
}
.error-msg {
  margin: 2rem 0;
  text-align: center;
  border: 1px solid var(--error-color);
  padding: 1rem;
  color: #fff;
  background-color: var(--error-color);
  font-weight: bold;
}

/* Default page styles */
.default-logo, .burger-icon {
  width: 3rem;
  padding: 0;
  margin: 0;
}
.default-line {
  display: flex;
  align-items: center;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-main-color);
  padding: 0;
  margin: 0.3rem 0 0 0;
}
.default-header {
  padding: 0;
  margin: 0;
}
.default-body {
  max-width: 1200px;
  margin: 0 auto;
}
.app-default-title {
  margin-left: 0.5rem;
}